:root {
    --color-12: #0c0c0c !important;
    --header--background-color: #0d0d0d !important;
    --bar--background-color: #0d0d0d !important;
    --html--background-color: #121212 !important;
    --color-neutral-lightest: #242424 !important;
    --services-shortcut-a-hover--background-color: #3c3c3c !important;
    --services-shortcut-a-hover--color: #fff !important;
    --services-shortcut-item-actif--background-color: #6f6f6f !important;
    --services-shortcut-a-activ--color: #fff !important;
    --menu--color: #8b8b8b !important;
    --sko-blue-500: #0fabff !important;
    --menu-a-hover--color: #bababa !important;
    --color-success-lighter: #353535 !important;
    --color-11: #000 !important;
    --color-00: #ddd !important;
    --color-warn-lighter: #3b3b3b !important;
    --color-primary-darken-20: #d7d7d7 !important;
    --color-primary: #959595 !important;
}
body {
    color: #fff !important;
}
/* main page */
.panel--outlined {
    border-radius: 20px;
    border: #b2b2b2 solid 4px !important;
}
.panel--outlined {
    border: var(--base-border-width) solid var(--color-comp-light);
    border-radius: 20px !important;
}
.cartouche {
    --background-color: #242424 !important;
    --border-color: #ffffff !important;
    --border-width: 2px !important;
    --color: #ffffff !important;
    border-radius: 10px !important;
}
.btn.btn--sm.btn--secondary {
    border: 2px solid #959595 !important;
    border-radius: 10px !important;
}
.btn.btn--sm.btn--secondary:not([disabled]):hover {
    border: 2px solid #fff !important;
    border-radius: 10px !important;
    color: white !important;
}
.cas__header {
    content: none !important;
    background-color: #3b3b3b !important;
}
html {
    background-color: #3b3b3b !important;
}
#authentification_logo {
    display: none !important
}
.scrolled.fr-header-padding-top, .scrolled.fr-header-padding-top--minimized {
    background-color: #3b3b3b !important;
}
.fs-20.fr-mb-3w {
    color: #fff !important;
}
#bouton_eleve, #bouton_responsable {
     background-color: #868686 !important;
}
.choixProfil__btn {
     background-color: #626262 !important;
}
.fr-col-md-8.fr-col-12 {
    transform: scale(1.3);
    transform-origin: right;
}
.cas__panel {
    transform: scale(1.2);
    transform-origin: center;
}
.services-shortcut__link:hover {
    transform: translateX(10px);
}
.services-shortcut {
    transform: translate(-10px);
}
button[data-modaltrigger="modalCreerDocOffice"]:hover {
    transform: translate(10px);
}
input[type=radio]:checked ~ label:before {
    filter: invert(1) !important;
}
input[type=radio]~label:before {
    filter: invert(1) !important;
}
.titreCompte__icone.titreCompte__icone--eleve img {
    filter: brightness(0) invert(1) !important;
}
.fr-tabs__panel {
    background-color: #585858 !important;
}
#onglet-connexion {
    background-color: #585858 !important;
    background-image: none !important;
}
.fr-tabs__list {
    background-color: #3b3b3b
}
#username.fr-input, #password.fr-input {
    Background: #3b3b3b;
    color: #fff !important;
}
.fr-label{
    color: #fff !important;
}
.grid--column-start-xs-1.grid--column-end-xs-13.grid--column-end-sm-4.grid--column-end-xl-3 {
    background-color: #3b3b3b;
}
.jstree-default .jstree-wholerow-clicked {
    background: #b0b0b0 !important;
    border: 2px solid #949494;
    border-radius: 10px 0px 0px 10px !important;
}
.jstree-label {
    color: #fff;
}
.jstree-default>.jstree-no-dots .jstree-node {
    background: #444444;
}
.jstree-wholerow-hovered {
    color: #444444
}
.jstree-default .jstree-wholerow {
    border: 2px solid #949494;
    border-radius: 10px;
    background: #444444;
}
.jstree-default .jstree-wholerow-hovered {
    background: #838383 !important;
}
.jstree-anchor.jstree-hovered {
    transform: translateX(20%) scale(1.2);
}
.jstree-anchor {
    transform: scale(1.2);
    transform-origin: right;
}
.jstree-default>.jstree-container-ul>.jstree-node {
    margin-bottom: 10px;
}
.col--md-7, .col--md-3 {
    transform: translateY(20%);
}
li.row--full {
    border: 2px solid;
    border-radius: 20px;
}
.msg.msg--NEUTRE.msg--neutral.js-notice {
    background: transparent !important;
    border: 2px solid white !important;
    border-radius: 20px;
}
.msg--neutral {
    color: #dddddd !important;
}
.global-notices--panel {
    border: none !important;
    padding: none !important;
}
.icon--attached-file {
    background-image: url("https://raw.githubusercontent.com/ShaoGoofy/E.NT/c1ab1b761322cc5e87659033e50b90260837e650/icons/linked-file.svg") !important;
    transform: scale(1.7);
    transform-origin: left;
}
.jstree--cosy .jstree-anchor, .jstree--cosy .jstree-icon, .jstree--cosy .jstree-wholerow {
    line-height: 3rem !important;
    min-height: 3rem !important;
}
.form__control:not(select, #nomDocLink), .form__control:is([type=text],[type=email],[type=password],[type=url],[type=tel],[type=search],[type=file],[type=number],[type=month],[type=week],[type=date],[type=time],[type=datetime],[type=datetime-local]), div.form__control, textarea.form__control {
    background-color: #141414 !important;
    border: 1px solid #fff !important;
    border-radius: 20px 0px 0px 20px;
}
.btn.btn--primary.js-valider-recherche {
    background-color: #141414 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 0px 20px 20px 0px;
}
.btn.btn--primary.js-afficherNouveauMessage {
    background-color: #484848 !important;
    color: #fff !important;
    border: 1px solid #fff !important;
    border-radius: 20px 20px 20px 20px;
}
.icon--more-primary {
    transform: translate(-70%, 50%);
}
.cartouche--neutral {
    --background-color: #606060 !important;
    --border-color: #fff !important;
    --color: #fff !important;
    --cartouche-active--box-shadow-color: var(--color-comp-light);
}
#header_profil, #footer, #chatmd-anchor, #header_connexion, .list--inlined, .fr-callout, .sidebar {
    display: none !important;
}
.scheduler__slot {
    background: #3d3d3d;
}
.header {
    --burger-hover--background-color: #000 !important;
}
.user {
    color: #fff !important;
}
.btn--inverted {
    color: #b2b2b2 !important;
}
.text--slate-dark {
    color: #979797 !important;
}
.header__help a {
    background: #1f1f1f !important;
    color: #d8d8d8 !important;
}
.pane {
    background-color: #323232 !important;
}
.btn--as-link, .btn--as-link-underline {
    color: #fff !important;
}
.cahier_texte {
    background: #121212 !important;
    color: #fff !important;
}
/* files */
article.card {
    border: 4px solid #000000;
    border-radius: 20px
}
.card:before {
    border-radius: 15px;
}
#js-fullscreen span {
    color: #fff !important;
}
/* that one weird page */
#page {
    background-color: #121212 !important;
    color: #ffffff !important;
}
#navigation_cahier_texte {
    background-color: #121212 !important;
    color: #fafafa !important;
}
.form__control {
    border-radius: 10px;
}
select.form__control {
    color: #ffffff !important;
    border-radius: 10px;
}
.cartouche--bg-comp-light {
    color: #fff !important;
    background: #323232
    border-color: #ffffff !important;
}
/* cookies stuff */
#tarteaucitronRoot #tarteaucitronAlertBig {
background: #323232 !important;
}
#tarteaucitronAlertBig #tarteaucitronDisclaimerAlert {
color: #ffffff !important;
}
.tarteaucitronH1, .tarteaucitronH2 {
    color: #ffffff !important;
    background: #474747 !important
}
#tarteaucitronClosePanel, #tarteaucitronAlertSmall #tarteaucitronCookiesListContainer #tarteaucitronClosePanelCookie {
background: #474747 !important;
color: #ffffff !important;
}
#tarteaucitronServices .tarteaucitronMainLine {
background: #474747 !important;
}
#tarteaucitronInfo {
color: #ffffff !important;
background: #464646 !important;
}
#tarteaucitronBorder #tarteaucitronTitle {
color: #ffffff !important;
}
button#tarteaucitronBack {
    background: #000000 !important;
}
#tarteaucitron a {
color: #fff !important;
}
#tarteaucitron div, #tarteaucitron li, #tarteaucitron span:not(.tarteaucitronCheck, .tarteaucitronCross), .tarteaucitronTitle button {
color: #fff !important;
background: #464646 !important;
}
.tarteaucitronPlus::before {
    color: #fff !important;
}
